@import './my.css';
@import './style.css';
@import './Theme.css';
  

html, body {
    height: 100%;
    margin: 0;
    background-color: #000; 
    color: #ff0000;
    font-family: 'Arial', sans-serif;

}


table {
    width: 100%;
    margin: 20px 0;
    background: #000;
    border-collapse: collapse;
    text-align: left;
    background-color: #222; 
}

th, td {
    padding: 10px;
    border: 1px solid #444; 
}

thead {
    background-color: #444; 
}

tbody tr:nth-child(even) {
    background-color: #333; 
}

select.form-select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #555; 
    background-color: #222; 
    color: #ff0000; 
}
